@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); 

body {
      color:#212121; 
      
      background-color:#D0FFD3; 
      background-image:url('item/backdrop.gif');
      background-attachment:fixed;
      background-size: cover;
      background-repeat:repeat;
      background-position:center;
      padding:50px; 
      font-family: 'Open Sans', sans-serif; 
      font-size:14pt;
}

/* 
@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}
*/

body, a, a:hover {  
      cursor:url(item/cursor.gif), auto; 

}

#divElement{
      margin: auto;
          position: fixed;
    top: 50%;
    left: 50%;
        -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
      border-radius: 10px 50px 10px 50px;
      background-color: white;
      padding: 50px;
}

#divNormal{
      border-radius: 10px 50px 10px 50px;
      background-color: white;
      padding: 50px;
      width: 50%;
}

video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
}

no {
      width: 60%;
      height: 100%;


}